.header-custom {
    height          : 90px;
}

.app-name {
    color    : #E0E0E3;
    font-size: 2rem;
}

.input-search {
    border-radius   : 1.5rem;
    color           : #959AA1;
    max-width       : 398px !important;
    height          : 52px;
    background-color: #2B3442;
    font-size       : 1rem;

    &:focus {
        background-color: #2B3442;
        color           : #fdfeff;
    }
}

.btn-search {
    border-radius   : 1.5rem;
    background-color: #2B3442;
    border-color    : #707070;

    &:hover {
        background-color: #2B3442;

    }
}